/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Contenedor principal */
.container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}

.column {
    flex: 1;
    margin: 10px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    transition: transform 0.3s ease;
}

.column:hover {
    transform: translateY(-5px);
}

h1, h2, h3 {
    color: #444;
    font-weight: 600;
}

/* Botones */
button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 12px 24px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Textareas y formularios */
textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    resize: vertical;
    font-size: 14px;
    transition: border 0.3s ease;
}

textarea:focus {
    border-color: #007bff;
}

input[type="radio"] {
    margin-right: 8px;
}

/* Enlaces y botones en la sección superior */
a {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Encabezado */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; /* Reducido el padding para hacerlo menos grueso */
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 120px; /* Reducir el tamaño del logo */
    height: auto;
    margin-right: 15px;
}

.sections {
    display: flex;
    justify-content: flex-end;
}

.section-button {
    margin: 0 8px;
    padding: 6px 14px; /* Reducir el tamaño del botón */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 13px; /* Reducir el tamaño del texto del botón */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.section-button img {
    width: 24px; /* Ajustar el tamaño de los iconos dentro de los botones */
    height: 24px;
}

.section-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


/* Estilos para dispositivos móviles */
@media screen and (max-width: 800px) {
    .container {
        flex-direction: column;
        padding: 15px;
    }

    .column {
        margin: 15px 0;
    }

    .logo {
        max-width: 100px;
    }

    .section-button {
        margin: 5px 0;
        padding: 10px;
    }
}
